<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <% if flash[:notice] %>
            <div class="notice"> <%= flash[:notice] %> </div>
        <% end %>
        <h1>Bienvenido <b>a la Pizzeria</b></h1>
        <h3>Todas las pizzas deliciosas que buscas.</h3>
        <br>
      </div>
      <div class="col-lg-2">
        <h1>Login</h1>
        <div>
          <%= form_for :employee, url: '/login' do |f|%>
            <%= f.label 'Usuario: ' %>
            <%= f.text_field :user %>

            <%= f.label  'Password: '%>
            <%= f.password_field :password %>

            <%= f.submit "Iniciar Sesion" %>
          <% end %>
        </div>
      </div>

      <div class="col-lg-8">
        <img class="img-responsive" src="assets/img/app-bg.png" alt="">
      </div>

    </div>
  </div> <!--/ .container -->
</div><!--/ #headerwrap -->


