<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>User:</strong>
  <%= @employee.user %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @employee.branch %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @employee.password_digest %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
