<p id="notice"><%= notice %></p>

<h1>Listing Ingridients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingridients.each do |ingridient| %>
      <tr>
        <td><%= ingridient.name %></td>
        <td><%= ingridient.price %></td>
        <td><%= link_to 'Show', ingridient %></td>
        <td><%= link_to 'Edit', edit_ingridient_path(ingridient) %></td>
        <td><%= link_to 'Destroy', ingridient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingridient', new_ingridient_path %>
