<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingridient.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ingridient.price %>
</p>

<%= link_to 'Edit', edit_ingridient_path(@ingridient) %> |
<%= link_to 'Back', ingridients_path %>
