<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pizza.price %>
</p>

<h2>Ingredientes de la Pizza</h2>

<% @ingridients.each do |ing| %>
    <li><%= ing %></li>
    <% end %>

<br></br>
<%= link_to 'Edit', edit_pizza_path(@pizza), class:"btn btn-default pull-left" %>
<%= link_to 'Back', pizzas_path, class:"btn btn-default" %>
