<p id="notice"><%= notice %></p>

<h1>Listing Ingridients Pizzas</h1>

<table>
  <thead>
    <tr>
      <th>Pizza</th>
      <th>Ingridient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingridients_pizzas.each do |ingridients_pizza| %>
      <tr>
        <td><%= ingridients_pizza.pizza.name %></td>
        <td><%= ingridients_pizza.ingridient.name %></td>
        <td><%= link_to 'Show', ingridients_pizza %></td>
        <td><%= link_to 'Edit', edit_ingridients_pizza_path(ingridients_pizza) %></td>
        <td><%= link_to 'Destroy', ingridients_pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingridients pizza', new_ingridients_pizza_path %>
