<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @manager.employee %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @manager.shift %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
