<%= form_for(@orders_pizza) do |f| %>
  <% if @orders_pizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orders_pizza.errors.count, "error") %> prohibited this orders_pizza from being saved:</h2>

      <ul>
      <% @orders_pizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.select :order_id, Order.select_values %>
  </div>
  <div class="field">
    <%= f.label :pizza_id %><br>
    <%= f.select :pizza_id, Pizza.select_values %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-default pull-left"%>
    <br></br>
  </div>
<% end %>
