<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @order.branch.adress %>
</p>

<% @pizzas.each do |ing| %>
    <li><%= ing %></li>
<% end %>

<p>
<h3>Costo total</h3>
<%if @precio.first %>
    $<%= @precio.first %>
<% else %>
    $0.00
<% end %>
</p>


<%= link_to 'Edit', edit_order_path(@order), class:"btn btn-default pull-left" %>
<%= link_to 'Back', orders_path, class:"btn btn-default" %>


